input {
	vertical-align: middle;
}

input[type=checkbox] {
	margin-top:0px;
}

.placeholder_txt {
	position: absolute;
	margin-top: 3px;
	margin-left: 5px;
	color: #ccc;
}

.pd5 {
	padding-top:5px;
	padding-bottom:5px;
}

.pd5_0{
    padding:5px 0px 5px 0px;
}


.w175 {
    width: 175px;
}

.w198 {
    width: 198px;
}


.w200 {
    width: 200px;
}

